@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --Very-Dark-Blue: hsl(230, 29%, 20%);
   --Dark-Grayish-Blue: hsl(230, 11%, 40%);
   --Grayish-Blue: hsl(231, 7%, 65%);
   --Light-Grayish-Blue: hsl(207, 33%, 95%)
}

html {
   /* overflow-x: hidden; */
}

body {
   position: relative;
   font-family: 'Barlow', sans-serif;
   font-size: 18px;
}

.logo {
   padding-left: 210px;
}

body::before {
   content: "";
   position: absolute;
   top: 0px !important;
   right: -60px;
   width: 50% !important;
   height: 61%;
   background-color: var(--Light-Grayish-Blue);
   border-radius: 0 0 0% 55px;
   z-index: -1;
}

h1, h4, .btn {
   font-family: 'Barlow Condensed', sans-serif;
   text-transform: uppercase;
}

nav ul {
   list-style-type: none;
   display: flex;
   align-items: center;
   text-transform: uppercase;
   font-family: 'Barlow Condensed', sans-serif;
   color: var(--Very-Dark-Blue);
   font-weight: 700;
   cursor: pointer;
   padding-right: 150px;
}

li :nth-last-child(1) {
   color: var(--Grayish-Blue);
   opacity: 0.6;
}

main {
   display: flex;
   flex-direction: column;
   padding: 130px 110px;
}

.content {
   padding: 50px 60px 0px 220px;
}

.pre-heading {
   display: flex;
   align-items: center;
   margin-bottom: 15px;
}

.new {
   background-color: var(--Very-Dark-Blue);
   color: #fff;
   padding: 6px 12px;
   border-radius: 20px;
}

.pre {
   font-weight: 400;
   letter-spacing: 5px;
   padding-left: 15px;
   font-size: 14px;
   color: var(--Grayish-Blue);
}

h1 {
   font-size: 64px;
   margin-bottom: 30px;
   line-height: 65px;
   width: 500px;
}

.img {
   padding-left: 60px;
   margin-top: 0px;
   position: fixed;
   top: 280px;
   right: -50px;
}

p {
   width: 50%;
   /* line-height: 26px; */
   color: var(--Grayish-Blue);
}

.btn-pre {
   display: flex;
   align-items: center;
   margin-top: 60px;
}

.btn {
   padding: 15px 25px;
   background-color: hsl(0, 100%, 68%);
   color: #fff;
   border: none;
   border-radius: 5px;
   font-size: 14px;
   letter-spacing: 2px;
   cursor: pointer;
}

.btn:active {
   outline: none;
   border: none;
   transform: translateY(5px);
}

.btn:hover {
   opacity: 0.8;
}

@media (min-width: 768px) {
   .content {
      width: 50%;
   }

   .img {
      width: 50%;

   }
   
   .icon {
      display: none;
   }

   nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 55px 120px;
   }
   
   ul {
      display: flex !important;
   }

   li:hover {
      border-bottom: 1px solid var(--Very-Dark-Blue);
   }

   .dot {
      width: 9px;
      height: 9px;
      background-color: var(--Grayish-Blue);
      border-radius: 5px;
      opacity: 0.4;
   }

   li {
      margin-left: 52px;
   }
}

@media(max-width: 768px) {

   .logo {
      padding-left: 30px;
   }

   img.icon.ham {
      margin-right: 20px;
   }

   img.icon.close {
      margin-right: 20px;
   }

   body::before {
      content: "";
      position: absolute;
      top: 0px !important;
      right: -200px;
      width: 89% !important;
      height: 55%;
      background-color: var(--Light-Grayish-Blue);
      border-radius: 0 0 0% 55px;
      z-index: -1;
   }
   
   nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 10px;
   }

   .lists {
      display: flex;
      flex-direction: column;
      margin: auto;
      position: absolute;
      margin-top: 335px;
      background-color: #fff;
      width: 80%;
      margin-left: 33px;
      margin-top: 310px;
      padding: 20px 0px 0px;
      box-shadow: 0 10px 20px rgba(37, 43, 70, 0.9);
      z-index: 1;
   }

   ul li {
      padding: 15px 0px;
   }

   .dot {
      border-bottom: 1px solid var(--Grayish-Blue);
      width: 90%;
      margin-top: -20px;
      margin-bottom: 5px;
      opacity: 0.6;
   }

   main {
      flex-direction: column-reverse;
      width: 100%;
   }

   .img {
      margin-top: -140px;
      padding-left: 5px;
      position: absolute;
   }
   
   .img img {
      width: 157%;
   }

   .content {
      margin-left: -80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 300px;
      width: 100% !important;
   }
   
   .pre-heading {
      padding: 0 !important;
   }
   
   .new {
      margin-left: -120px;
   }

   h4.pre {
      padding-left: 25px;
      font-size: 16px;
      width: 300px;
   }

   h1 {
      font-size: 44px;
      line-height: 42px !important;
      width: 400px;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: -70px;
      line-height: 60px;
   }

   .content p {
      width: 300px !important;
      margin-right: 170px !important;
      font-size: 20px !important;
      font-weight: 500 !important;
   }

   .btn-pre {
      margin-right: 30px;
      margin-top: 30px;
      display: flex;
   }

   .btn {
      padding: 12px 23px;
      width: 180px;
      height: 50px;
      font-weight: 700;
      margin-left: 38px;
   }

   .live {
      font-size: 14px !important;
      letter-spacing: 2px;
      padding-right: -31px;
   }
}

